.block {
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}

.block_xhr {
    background-color: rgba(200, 231, 68, 0.3);
}

.block_fetch {
    background-color: rgba(43, 227, 117, 0.16);
}

.block_fetch_async {
    background-color: rgba(227, 43, 64, 0.16);
}

input:valid {
    background-color: palegreen;

}

input:invalid {
    background-color: lightpink;

}

input:placeholder-shown {
    background-color: rgba(160, 148, 149, 0.2);
}

p {
    visibility: hidden;
}

img {
    padding: 30px 30px;
    width: 100px;
    height: 100px;
}